@tailwind base;

@tailwind components;

@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Indie Flower';
    @apply bg-gray-100;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
